@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-DemiBold.ttf");
  font-weight: 600;
  font-style: medium;
}

@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

:root {
  font-size: 62.5%;
}

:root body {
  font-family: "TT Commons", "Hind", Arial, sans-serif;
  font-size: 1.8rem;
}

@media screen and (min-width: 2000px) {
  :root {
    font-size: 90%;
  }
}

.title {
  margin-bottom: 42px;
}

.title h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 0;
  line-height: 5.2rem;
}

.title h1 span {
  color: #FA97C1;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6rem;
  margin-left: 6px;
}

.title h4 {
  color: #282828;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 4px;
}

@media screen and (max-width: 1269px) {
  .title h1 {
    font-size: 3.2rem;
    line-height: 3rem;
  }
  .title h4 {
    margin-top: 12px;
  }
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-weight: 800;
}

h1 small {
  font-size: 5rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  color: rgba(65, 65, 65, 0.8);
  font-size: 1.8rem;
  margin: 20px 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

section, .main-footer {
  padding: 100px 160px;
  overflow: hidden;
}

@media screen and (min-width: 2000px) {
  section, .main-footer {
    padding: 100px 15%;
  }
}

@media screen and (max-width: 992px) {
  section, .main-footer {
    padding: 100px 40px;
  }
}

@media screen and (max-width: 769px) {
  section, .main-footer {
    padding: 100px 24px;
  }
}

.half-width-wrapper {
  padding-left: 54vw;
  padding-right: 4vw;
  padding-top: 10vw;
  position: relative;
}

@media screen and (max-width: 769px) {
  .half-width-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
  }
}

.img-responsive {
  max-width: 100%;
}

.gutter-50 {
  padding: 25px 0;
}

.gutter-100 {
  padding: 50px 0;
}

.primary-btn {
  text-decoration: none;
  display: inline-block;
  margin-top: 32px;
  padding: 14px 24px;
  padding-top: 15px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: .1rem;
  background-color: #DE4083;
  color: #fff;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.primary-btn i {
  color: #fff;
  margin-left: 18px;
  font-size: 1.6rem;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.primary-btn:hover, .primary-btn:focus {
  color: #fff;
  text-decoration: none;
  background-color: #FA97C1;
}

.primary-btn:hover i, .primary-btn:focus i {
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
}

.primary-btn.navbar-btn {
  margin: 0;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: -ms-grid;
  display: grid;
  gap: 24px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

#hero .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 160px;
  position: relative;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

@media screen and (min-width: 992px) {
  #hero .content {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0;
  }
}

#hero .content.show {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

#hero .content h1 {
  font-size: 5.6rem;
}

#hero .content h4 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #DE4083;
  letter-spacing: 0.2rem;
}

#hero .content p {
  font-size: 1.8rem;
}

#hero .content .bottom {
  position: absolute;
  left: 0;
  bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 160px;
}

#hero .content .socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .content .socials li {
  margin: 0 8px;
  font-size: 1.8rem;
  color: #414141;
}

#hero .content .socials li a {
  color: #414141;
  font-size: 1.8rem;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

#hero .content .socials li a:hover, #hero .content .socials li a:focus {
  color: #282828;
}

#hero .content .mouse {
  height: 56px;
  width: 34px;
  border: 1px solid rgba(250, 151, 193, 0.8);
  border-radius: 100px;
  padding: 15px 14px;
  position: relative;
}

#hero .content .mouse:before {
  content: "";
  width: 1px;
  height: 135px;
  background-color: #414141;
  position: absolute;
  left: -32px;
  top: 42px;
  opacity: 0.2;
}

#hero .content .mouse .mouse-scroll {
  width: 4px;
  height: 16px;
  background-color: #DE4083;
  border-radius: 100px;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

#hero .mockup-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 130px;
  padding-bottom: 12px;
}

#hero .mockup-container .circle-holder {
  width: 100%;
  padding-top: 100%;
  border: 2px solid #fff;
  position: relative;
}

#hero .mockup-container .mockup-box {
  background-image: url("../img/circles.svg");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  transition: background-size 1s ease-in;
  -moz-transition: background-size 1s ease-in;
  -ms-transition: background-size 1s ease-in;
  -o-transition: background-size 1s ease-in;
  -webkit-transition: background-size 1s ease-in;
}

#hero .mockup-container .mockup-box.enlarge {
  background-size: auto 90%;
  opacity: 1;
}

#hero .mockup-container .mockup-box img {
  height: 100%;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
}

#hero .mockup-container .mockup-box img.show {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

#hero .mockup-container .mockup-box img:before {
  content: "";
  position: absolute;
  background-color: #FA97C1;
  width: 150%;
  height: 60%;
}

@media screen and (min-width: 992px) {
  #hero .mockup-container .mockup-box {
    background-size: auto 10%;
    opacity: 0;
  }
  #hero .mockup-container .mockup-box img {
    opacity: 0;
    transform: translateY(60vh);
    -webkit-transform: translateY(60vh);
  }
}

#home-about .img-cont {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

#home-about .img-cont .bg-circle {
  width: 90%;
  height: 90%;
  background-color: #FA97C1;
  border-radius: 100%;
  position: absolute;
  top: 5%;
  left: 0;
}

#home-about .img-cont .polka-texture {
  position: absolute;
  z-index: 100;
  left: -32px;
  bottom: 10%;
  max-width: 65%;
}

#home-about .img-cont .about-img {
  position: absolute;
  width: 115%;
  right: 0;
  bottom: 5%;
  z-index: 400;
}

#home-faq .img-cont {
  width: 100%;
  padding-top: 125%;
  position: relative;
}

#home-faq .img-cont .polka {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#home-faq .img-cont .faq-img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 42px;
}

.blogpost-card {
  width: 100%;
  position: relative;
}

.blogpost-card .blogpost-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
}

.blogpost-card .date {
  color: rgba(65, 65, 65, 0.8);
  opacity: 0.7;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 24px;
  line-height: 24px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.blogpost-card .title {
  color: #111;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  margin-top: 4px;
  margin-bottom: 16px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.blogpost-card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #111;
  margin-top: 24px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.blogpost-card .author .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 12px;
}

.blogpost-card .author .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

.blogpost-card .author h5 {
  color: #111;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.blogpost-card p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.blogpost-card .img-box {
  position: relative;
  width: 100%;
  padding-top: 85%;
  background-color: #ededed;
}

.blogpost-card .img-box .img-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.blogpost-card .img-box .img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.blogpost-card .img-box .blogpost-badge {
  color: #fff;
  background-color: #DE4083;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  line-height: 3.2rem;
  height: 28px;
  padding: 0 10px;
  padding-bottom: 1px;
  text-transform: uppercase;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 500;
}

.blogpost-card:hover, .blogpost-card:focus {
  cursor: pointer;
}

.blogpost-card:hover .date, .blogpost-card:focus .date {
  transform: translateY(26px);
  -webkit-transform: translateY(26px);
}

.blogpost-card:hover .title, .blogpost-card:focus .title {
  transform: translateY(26px);
  -webkit-transform: translateY(26px);
}

.blogpost-card:hover p, .blogpost-card:focus p {
  transform: translateY(26px);
  -webkit-transform: translateY(26px);
}

.blogpost-card:hover .author, .blogpost-card:focus .author {
  transform: translateY(26px);
  -webkit-transform: translateY(26px);
}

.blogpost-card:hover .img-box img, .blogpost-card:focus .img-box img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.posts-wrapper {
  padding-top: 48px !important;
  padding-bottom: 0 !important;
}

.posts-wrapper .blogpost-card {
  margin: 32px 0;
}

.posts-wrapper .featured-post-big {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 3fr;
      grid-template-columns: 5fr 3fr;
  -ms-grid-rows: 35vw;
      grid-template-rows: 35vw;
  background-color: #eedede;
  position: relative;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.posts-wrapper .featured-post-big .blogpost-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 800;
}

.posts-wrapper .featured-post-big .img-cont {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: relative;
}

.posts-wrapper .featured-post-big .img-cont .img-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.posts-wrapper .featured-post-big .img-cont .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.posts-wrapper .featured-post-big .content {
  background-color: #222222;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.posts-wrapper .featured-post-big .content .date {
  color: rgba(65, 65, 65, 0.8);
  opacity: 0.7;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.posts-wrapper .featured-post-big .content .centered h5 {
  letter-spacing: 0.3rem;
  color: rgba(255, 255, 255, 0.7);
}

.posts-wrapper .featured-post-big .content .title {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.posts-wrapper .featured-post-big .content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #111;
  margin-top: 24px;
}

.posts-wrapper .featured-post-big .content .author .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 12px;
  border: 2px solid #DE4083;
}

.posts-wrapper .featured-post-big .content .author .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

.posts-wrapper .featured-post-big .content .author h5 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  margin-top: 2px;
}

.posts-wrapper .featured-post-big .content .blogpost-badge {
  color: #fff;
  background-color: #DE4083;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  line-height: 3.2rem;
  height: 28px;
  padding: 0 10px;
  padding-bottom: 1px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.posts-wrapper .featured-post-big .content p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  color: rgba(255, 255, 255, 0.7);
}

.posts-wrapper .featured-post-big:hover, .posts-wrapper .featured-post-big:focus {
  -webkit-box-shadow: 0 0.8px 1.8px rgba(0, 0, 0, 0.017), 0 1.8px 4.1px rgba(0, 0, 0, 0.025), 0 3.2px 7.4px rgba(0, 0, 0, 0.03), 0 5.3px 12.2px rgba(0, 0, 0, 0.035), 0 8.7px 20.1px rgba(0, 0, 0, 0.039), 0 15.3px 35.1px rgba(0, 0, 0, 0.045), 0 33px 76px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0.8px 1.8px rgba(0, 0, 0, 0.017), 0 1.8px 4.1px rgba(0, 0, 0, 0.025), 0 3.2px 7.4px rgba(0, 0, 0, 0.03), 0 5.3px 12.2px rgba(0, 0, 0, 0.035), 0 8.7px 20.1px rgba(0, 0, 0, 0.039), 0 15.3px 35.1px rgba(0, 0, 0, 0.045), 0 33px 76px rgba(0, 0, 0, 0.06);
}

@media screen and (min-width: 1100px) {
  .posts-wrapper .featured-post-big:hover .content, .posts-wrapper .featured-post-big:focus .content {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}

.posts-wrapper .featured-post-big:hover .img-box img, .posts-wrapper .featured-post-big:focus .img-box img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.blog-post-wrapper {
  padding: 48px 0;
}

.blog-post-wrapper .banner-img-holder {
  width: 100%;
}

.blog-post-wrapper .banner-img-holder img {
  width: 100%;
}

.blog-post-wrapper .post-content {
  padding: 40px 0;
}

.blog-post-wrapper .post-content h1,
.blog-post-wrapper .post-content h2,
.blog-post-wrapper .post-content h3,
.blog-post-wrapper .post-content h4 {
  margin-top: 40px;
  margin-bottom: 24px;
  font-weight: 700;
  color: #222222;
  letter-spacing: -0.1rem;
}

.blog-post-wrapper .post-content img {
  width: 100%;
  margin: 32px 0;
}

.blog-post-wrapper .post-header {
  margin-bottom: 42px;
}

.blog-post-wrapper .post-header .title {
  margin: 32px 0;
}

.blog-post-wrapper .post-header .date {
  color: rgba(65, 65, 65, 0.8);
  opacity: 0.7;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  color: rgba(65, 65, 65, 0.9);
}

.blog-post-wrapper .post-header .blogpost-badge {
  color: #fff;
  background-color: #DE4083;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  line-height: 3.2rem;
  height: 28px;
  padding: 0 10px;
  padding-bottom: 1px;
  text-transform: uppercase;
  display: inline-block;
}

.blog-post-wrapper .post-header .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #111;
  margin-top: 24px;
}

.blog-post-wrapper .post-header .author .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 12px;
}

.blog-post-wrapper .post-header .author .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

.blog-post-wrapper .post-header .author h5 {
  color: #282828;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  margin-top: 2px;
}

.navigation {
  padding: 0 160px;
  width: 100%;
  height: 85px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #ededed;
}

.navigation.static {
  position: static;
}

.navigation .nav-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .nav-container ul {
  margin: 0;
}

.navigation .navigation-left {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navigation-left #logo {
  width: 110px;
  display: inline-block;
  margin-right: 24px;
}

.navigation .navigation-left #logo img {
  width: 100%;
}

.navigation .navigation-left .lang-select {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 44px;
  overflow: hidden;
  border-left: 1px solid rgba(65, 65, 65, 0.2);
  position: relative;
  cursor: pointer;
  margin-right: 32px;
}

.navigation .navigation-left .lang-select i {
  position: absolute;
  color: #282828;
  right: 4px;
  top: 15px;
}

.navigation .navigation-left .lang-select.opened {
  overflow: visible !important;
}

.navigation .navigation-left .lang-select:hover i {
  opacity: 0.7;
}

.navigation .navigation-left .lang-select .selected,
.navigation .navigation-left .lang-select a {
  margin: 6px 24px;
}

.navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .nav-links li {
  margin: 0 16px;
}

.navigation .nav-links li a {
  color: #282828;
  font-weight: 600;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.navigation .nav-links li a:hover, .navigation .nav-links li a:focus {
  color: #DE4083;
  text-decoration: none;
}

.navigation .hamburger {
  display: none;
}

.accordion {
  width: 100%;
  margin: 24px 0;
}

.accordion .question {
  width: 100%;
  margin: 0;
}

.accordion .question .question-header {
  background-color: rgba(250, 151, 193, 0.2);
  padding: 24px 32px;
  margin-bottom: 8px;
  border-left: 6px solid #DE4083;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 40px;
      grid-template-columns: auto 40px;
  cursor: pointer;
}

.accordion .question .question-header h4 {
  font-size: 1.8rem;
  font-family: "TT Commons", "Hind", Arial, sans-serif;
  font-weight: 700;
  color: #282828;
  margin: 0;
  line-height: 2.4rem;
}

.accordion .question .question-header .plus-minus {
  position: relative;
  width: 16px;
  height: 16px;
  transform-origin: center;
  -webkit-transform-origin: center;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.accordion .question .question-header .plus-minus .line1 {
  height: 2px;
  width: 16px;
  background-color: #DE4083;
  position: absolute;
  left: 0;
  top: 7px;
  transform-origin: center;
  -webkit-transform-origin: center;
}

.accordion .question .question-header .plus-minus .line2 {
  width: 2px;
  height: 16px;
  background-color: #DE4083;
  position: absolute;
  left: 7px;
  top: 0;
  transform-origin: center;
  -webkit-transform-origin: center;
}

.accordion .question .question-body {
  background-color: #fff;
  border: 1px solid rgba(222, 64, 131, 0.3);
  padding: 0 24px;
  margin-left: 6px;
  max-height: 0;
  overflow: 0;
  opacity: 0;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion .question .question-body p {
  opacity: 0;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.accordion .question.opened .question-header .plus-minus {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion .question.opened .question-header .plus-minus .line1 {
  opacity: 0;
}

.accordion .question.opened .question-body {
  padding: 18px 24px;
  max-height: 500px;
  opacity: 1;
  margin-bottom: 8px;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.accordion .question.opened .question-body p {
  opacity: 1;
}

.home-carousel {
  margin: 80px 0;
}

.carousel-cell {
  width: 72%;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  counter-increment: carousel-cell;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  gap: 32px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 600px;
      grid-template-rows: 600px;
}

.carousel-cell .content {
  padding: 40px 0;
  padding-left: 88px;
  border-left: 3px solid #DE4083;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.carousel-cell .mockup-cont {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: right;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.carousel-cell .mockup-cont img {
  height: 100%;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.carousel-cell.is-previous {
  opacity: .5;
}

.carousel-cell.is-previous .mockup-cont img {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}

.carousel-cell.is-next {
  direction: rtl;
  opacity: .5;
}

.carousel-cell.is-next .mockup-cont {
  text-align: left;
}

.carousel-cell.is-next .mockup-cont img {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}

#home-features {
  margin: 24px 0;
}

#home-features .home-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid rgba(65, 65, 65, 0.15);
  border-radius: 15px;
  padding: 32px 28px;
}

#home-features .home-feature a {
  color: #DE4083;
  font-weight: 600;
  font-size: 1.6rem;
}

#home-features .home-feature .icon {
  width: 30px;
  margin-right: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#home-features .home-feature .icon i {
  font-size: 2.4rem;
  color: #DE4083;
}

#home-features .home-feature .content h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

#home-about {
  padding-top: 32px;
  padding-bottom: 32px;
}

#subscribe-box {
  background-color: #DE4083;
  padding: 42px 48px;
  border-radius: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
  gap: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subscribe-box .input-cont {
  width: 100%;
  height: 72px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

#subscribe-box .input-cont input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  outline: none !important;
  border-radius: 8px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 32px;
}

#subscribe-box .input-cont .submit-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 100;
  height: 56px;
  border-radius: 7px;
  background-color: #FA97C1;
  padding: 0 24px;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 60px;
  border: 0;
  outline: none !important;
}

#subscribe-box .input-cont .submit-btn:hover, #subscribe-box .input-cont .submit-btn:focus {
  background-color: #DE4083;
}

#subscribe-box h4 {
  color: #fff;
  opacity: 0.8;
  letter-spacing: 0.2rem;
}

#subscribe-box h1 {
  color: #fff;
}

footer {
  background-color: #F5F5FA;
  padding-bottom: 32px !important;
}

footer .footer-bottom {
  margin-top: 32px;
}

footer h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #282828;
  letter-spacing: -0.1rem;
  margin-bottom: 32px;
}

footer .footer-socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-socials li {
  margin: 0;
  margin-right: 16px;
  font-size: 1.8rem;
  color: #414141;
}

footer .footer-socials li a {
  color: #414141;
  font-size: 1.8rem;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

footer .footer-socials li a:hover, footer .footer-socials li a:focus {
  color: #282828;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 16px 0;
}

footer ul li a {
  color: rgba(65, 65, 65, 0.9);
  font-size: 1.8rem;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

footer ul li a:hover, footer ul li a:focus {
  color: #282828;
  text-decoration: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin: 48px 0;
  margin-bottom: 0;
  border-radius: 0.6rem;
}

.pagination__numbers, .pagination__btn, .pagination__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.pagination__dots {
  width: 4rem;
  height: 4rem;
  color: rgba(65, 65, 65, 0.8);
  cursor: initial;
}

.pagination__numbers {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.pagination__numbers:hover {
  color: #DE4083;
}

.pagination__numbers.active {
  color: #ffffff;
  background: #DE4083;
  font-weight: 600;
  border: 1px solid #DE4083;
}

.pagination__btn {
  color: rgba(65, 65, 65, 0.8);
  pointer-events: none;
}

.pagination__btn.active {
  color: #222222;
  pointer-events: initial;
}

.pagination__btn.active:hover {
  color: #DE4083;
}
/*# sourceMappingURL=main.css.map */