$white: #fff;
$black: #111;

$text-color: rgba(#414141, .8);
$title-color: #282828;

$primary-color: #FA97C1;
$primary-color-dark: #DE4083;

$secondary-color: #282828;
$secondary-color-light: #414141;
$secondary-color-hover: #222222;

$light-bg: #F5F5FA;