.home-carousel {
  margin: 80px 0;
}

.carousel-cell {
  width: 72%;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  counter-increment: carousel-cell;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 32px;
  position: relative;
  align-items: center;
  grid-template-rows: 600px;

  .download-buttons .iosdownload,
  .download-buttons .androiddownload {
    img {
      height: 50px;
    }

    @media screen and (max-width: 575px) {
      margin: 0;
      margin-bottom: 8px;
      img {
        height: auto;
        width: 192px;
      }
    }
  }

  .download-buttons .iosdownload img,
  .download-buttons .androiddownload img {
    height: 50px;

    @media screen and (max-width: 575px) {
      height: auto;
      width: 192px;
      margin: 0;
      margin-bottom: 8px;
    }
  }

  .content {
    padding: 40px 0;
    padding-left: 88px;
    border-left: 3px solid $primary-color-dark;
    @include transition(0.2s);
  }

  .mockup-cont {
    width: 100%;
    height: 100%;
    // background-color: rgba($color: #000000, $alpha: 0.1);
    position: relative;
    text-align: right;
    @include transition(0.2s);

    img {
      height: 100%;
      display: block;
      margin: 0 auto;
      @include transition(0.2s);
    }
  }

  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;

    .content {
      padding: 32px;
      text-align: center;
    }

    .mockup-cont {
      height: auto;

      img {
        width: 300px;
        height: auto;
        max-width: 80%;
      }
    }
  }
}

.flickity-page-dots {
  margin-top: 32px;
}

// .carousel-cell.is-selected {
//   background: #ed2;
// }

.carousel-cell.is-previous {
  // background: #f09;
  opacity: 0.5;

  .mockup-cont {
    img {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
    }
  }
}

.carousel-cell.is-next {
  // background: #09f;
  direction: rtl;
  opacity: 0.5;

  .mockup-cont {
    text-align: left;
    img {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
    }
  }
}
