@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(14px);
  }
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  // padding: 0 160px;

  a {
    img {
      margin-right: 8px;
      margin-bottom: 8px;
      max-width: 192px;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 160px;
    position: relative;
    @include transition(0.5s);

    @media screen and (min-width: $tablet) {
      transform: translateY(-60px);
      -webkit-transform: translateY(-60px);
      opacity: 0;
    }

    &.show {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: 1;
    }

    h1 {
      font-size: 5.6rem;
    }
    h4 {
      font-size: 1.8rem;
      font-family: $title-font;
      font-weight: 500;
      text-transform: uppercase;
      color: $primary-color-dark;
      letter-spacing: 0.2rem;
    }
    p {
      font-size: 1.8rem;
    }

    .bottom {
      position: absolute;
      left: 0;
      bottom: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-left: 160px;
    }

    .socials {
      list-style: none;
      display: flex;

      li {
        margin: 0 8px;
        font-size: 1.8rem;
        color: $secondary-color-light;

        a {
          color: $secondary-color-light;
          font-size: 1.8rem;
          @include transition(0.2s);

          &:hover,
          &:focus {
            color: $secondary-color;
          }
        }
      }
    }

    .mouse {
      height: 56px;
      width: 34px;
      border: 1px solid rgba($color: $primary-color, $alpha: 0.8);
      border-radius: 100px;
      padding: 15px 14px;
      position: relative;

      &:before {
        content: "";
        width: 1px;
        height: 135px;
        background-color: $secondary-color-light;
        position: absolute;
        left: -32px;
        top: 42px;
        opacity: 0.2;
      }

      .mouse-scroll {
        width: 4px;
        height: 16px;
        background-color: $primary-color-dark;
        border-radius: 100px;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-name: scroll;
      }
    }
  }

  .mockup-container {
    // background-color: #ededed;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    padding-bottom: 12px;
    overflow: hidden;

    .circle-holder {
      width: 100%;
      padding-top: 100%;
      border: 2px solid #fff;
      position: relative;
    }

    .mockup-box {
      // background-color: #222;
      background-image: url("../img/circles.svg");
      background-repeat: no-repeat;
      background-size: 80% auto;
      background-position: center;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      transition: background-size 1s ease-in;
      -moz-transition: background-size 1s ease-in;
      -ms-transition: background-size 1s ease-in;
      -o-transition: background-size 1s ease-in;
      -webkit-transition: background-size 1s ease-in;

      &.enlarge {
        background-size: 80% auto;
        opacity: 1;
      }

      img {
        height: 100%;
        @include transition(0.8s);

        &.show {
          opacity: 1;
          transform: translateY(0);
          -webkit-transform: translateY(0);
        }

        &:before {
          content: "";
          position: absolute;
          background-color: $primary-color;
          width: 150%;
          height: 60%;
        }
      }

      @media screen and (min-width: $tablet) {
        background-size: 10% auto;
        opacity: 0;
        img {
          opacity: 0;
          transform: translateY(60vh);
          -webkit-transform: translateY(60vh);
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    grid-template-rows: 100%;
    .content {
      padding-left: 40px;
      h1 {
        font-size: 2.8rem;
      }
      h4 {
        font-size: 1.4rem;
      }
      p {
        margin-top: 8px;
      }

      .bottom {
        padding-left: 40px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;

    .mockup-container {
      padding-top: 32px;

      .mockup-box {
        width: 100%;
        height: auto;

        img{
          height: auto;
          max-width: 100%;
        }
      }
    }

    .content {
      padding-top: 32px;
      padding-left: 0;
      align-items: center!important;
      text-align: center!important;

      .download-buttons .iosdownload img,
      .download-buttons .androiddownload img {
        height: 50px!important;
      }

      .bottom {
        position: static;
        padding-left: 0;
        margin-top: 24px;
        justify-content: center;

        .socials li:first-child {
          margin-left: 0;
        }

        .mouse {
          display: none;
        }
      }
    }
  }
}
